<h2>Requerimientos para comenzar el proyecto</h2>

<ul>
    <li><p>El cliente debe proporcionar la información completa que desea publicar en el sitio Web o completar el formato de requerimientos de sitios Web (documento que contiene todas las preguntas necesarias para conocer el negocio, productos y/o servicios. Se enviará por correo electrónico una vez aprobado este presupuesto.) </p></li>
    <li><p>El cliente debe designar un responsable de proyecto, quien será el contacto de EsBrillante para el seguimiento del proyecto.</p></li>
    <li><p>Realizar el pago del anticipo del 50% </p></li>
    
</ul>