<h1>A quien corresponda</h1>
<p>Reciba un saludo cordial, presento para su consideración la siguiente cotización:</p>


<h2>Presupuesto de Creación de Sitio Web</h2>


<p>Nuestros proyectos Web se desarrollan en 3 fases con el fin de ofrecerte un sitio Web a la medida</p>

<ul>
    <li><p><strong>Fase 1 Copywriting (Definición de contenido):</strong> En esta etapa necesitaremos que nos proporciones la información que deseas publicar en tu sitio Web, puedes porporcionarnos presentaciones o folletos; en caso de que no tengas la información preparada o necesites ayuda, te podemos proporcionar un cuestionario que te ayudará a saber que información es adecuada para publicar en tu sitio Web. Una vez que tengamos la información de tu empresa, una copywriter se encargará de armar un esquema o boceto con la estructura del sitio Web, la cual deberás revisar y aprobar. Una vez aprobada pasa a la siguiente fase.</p></li>
    <li><p><strong>Fase2: Diseño UI/UX: (Concepto gráfico e imagen visual): </strong>El diseño de tu sitio Web estará a cargo de un diseñador gráfico quien se encargará de diseñar una página Web acorde a la imagen de la empresa. Es importante que si cuentas con material fotográfico de tu empresa se lo proporciones para que las utilice en el sitio Web, en caso de no contar con imágenes se tomaran de un Stock, el cual garantiza que no tienen problemas de derechos de autor. De igual manera el diseñador enviará su propuesta de diseño para su revición y aprobación. Una vez aprobado se enviará el diseño con un programador para que se encargue del maquetado</p></li>
    <li><p><strong>Fase3: Programación (Codificación HTML5/CSS3/JS): </strong>Se maquetará el sitio Web usando los estándares recientes de programación que permiten el funcionamiento Responsivo (es decir tu sitio Web se adapte en computadoras de Escritorio, tabletas y Smartphones), un requisito obligatorio para tener una ventaja competitiva en el mercado digital.</p></li>
</ul>

