<h3>Condiciones del servicio</h3>
<ol class="lower-alpha">
    <li>
        <p>En cada fase del proyecto (Copywriting, Diseño UI/UX y Programación) se hace una revisión del trabajo para ejecutar las correcciones necesarias, una vez aprobada la revisión pasará a la siguiente fase. <strong>Regresar una fase anterior para aplicar correcciones genera un costo extra</strong>, por lo que requerimos que se revise a detalle lo que se le entrega en cada fase.</p>
    </li>
    <li>
        <p>Una vez terminado el proyecto se deberá cubrir el pago final del 50%, el cual deberá ser cubierto a más tardar durante los siguientes 10 días hábiles. <strong>En caso de incumplimiento del pago EsBrillante tiene la libertad de suspender el sitio Web.</strong></p>
    </li>
    <li>
        <p>Una vez entregado el proyecto Web cambios posteriores son considerados como servicio de mantenimiento y aplican costo extra, este punto no aplica con páginas con servicio de mantenimiento incluido.</p>
    </li>
    <li>
        <p><strong>Falta de respuesta del cliente:</strong> Sí en un plazo de 15 días hábiles el proyecto queda pausado por falta de respuesta o interés del cliente, se considerará como proyecto cancelado y no se aplicará una devolución. Si el cliente desea retomar el proyecto, se re-cotizará por completo.</p>
    </li>
</ol>